@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-primary: #238121;
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
	--radius-default: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-full: 9999px;
}

:global(html),
:global(body) {
	height: 100%;
	margin: 0;
	padding: 0;
}
